<!--
1 # Citation for the following page:
2 # Date: 3/18/2024
3 # Copied from /OR/ Adapted from /OR/ Based on 
4 # Everything here and through out the other pages are copied from the link below,
5 #   and just updated to work specifically with our own database.  Eventually we were able to 
6 #   to code everything with out help but it still followed the same basic format of the repository
7 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->



    <p>&nbsp;</p>
    <div id="books">
        <p><strong>Books</strong></p>
        <table id="books_table">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Publisher</th>
             <th>
                {{@key}}
            </th>
         

             {{#each data}}
        <tr data_value={{this.bookID}}>
            <td>{{this.bookID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.authorID}}</td>
            <td>{{this.ISBN}}</td>
            <td>{{this.publisherID}}</td>
            <td><button onclick="deleteBook({{this.bookID}})">Delete</button></td>
          
        </tr>
        {{/each}}
        </table>
        <script src="./js/delete_book.js"></script>
    </div>



        <form id="addBookFormAjax">
            <legend><strong>Add Book</strong></legend>
              <fieldset class="fields">
                <label for="title_input"> Title </label> <input id="title_input" type="text" name="title">

                <select name="author_input" id="authorID_input">
                    <option value="">Select a Author</option>
                    {{#each authors}}
                    <option value={{this.authorID}}>{{this.name}}</option>
                     {{/each}}
                </select>


                <label for="ISBN_input"> ISBN </label> <input id="ISBN_input" type="text" name="ISBN">
               <select name="publisher_input" id="publisherID_input">
                    <option value="">Select a Publisher</option>
                    {{#each publishers}}

                    <option value={{this.publisherID}}>{{this.name}}</option>
                     {{/each}}
                </select>
              </fieldset>
              <input class="btn" type="submit" id="addBook" value="Add a Book">
              <input class="btn" type="button" value="cancel">
        </form> 
    <script src="./js/add_book.js"></script>

        <h2>This is where you can set publishers to NULL when updating</h2>
        <form id="update-book-form-ajax">
        <legend><strong>Update book</strong></legend>
            <fieldset class="fields">
              <select name="bookID_update" id="bookID_update">
                    <option value="">Select a Book</option>
                    {{#each bookIDs}}
                    <option value={{this.bookID}}>{{this.bookID}}</option>
                     {{/each}}
                </select>

                <label for="title_update"> Title </label> <input id="title_update" type="text" name="title_update">
                <select name="author_update" id="authorID_update">
                    <option value="">Select a Author</option>
                    {{#each authors}}
                    <option value={{this.authorID}}>{{this.name}}</option>
                     {{/each}}
                </select>

            <label for="ISBN_update"> ISBN</label> <input id="ISBN_update" type="text" name = "ISBN_update">
            <select name="publisherID_update" id="publisherID_update">
                    <option value="">Select a Publisher</option>
                    {{#each publishers}}

                    <option value={{this.publisherID}}>{{this.name}}</option>
                     {{/each}}
                </select>
                </fieldset>
        <input class="btn" type="submit" id="UpdateSaveBook" value="Save Update Book">
            <input class="btn" type="button" value="cancel" >
    </form> 
    <script src="./js/update_book.js"></script>



