      <p><strong>Borrowing Transactions</strong></p>
        <table id="BorrowingTransaction_table">
            <tr>
                <th>Transaction ID</th>
                <th>Book ID</th>
                <th>Member ID</th>
                <th>Date Borrowed</th>
                <th>Date Due</th>
             <th>
                {{@key}}
            </th>
         

             {{#each data}}
        <tr data_value={{this.transactionID}}>
            <td>{{this.transactionID}}</td>
            <td>{{this.bookID}}</td>
            <td>{{this.memberID}}</td>
            <td>{{this.authorID}}</td>
            <td>{{this.dateBorrowed}}</td>
            <td>{{this.dateDue}}</td>

          
        </tr>
        {{/each}}
        </table>
