      <p><strong>Borrowing Transactions</strong></p>
        <table id="BorrowingTransaction_table">
            <tr>
                <th>Transaction ID</th>
                <th>Book ID</th>
                <th>Member ID</th>
                <th>Date Borrowed</th>
                <th>Date Due</th>
             <th>
                {{@key}}
            </th>
         

             {{#each data}}
        <tr data_value={{this.transactionID}}>
            <td>{{this.transactionID}}</td>
            <td>{{this.bookID}}</td>
            <td>{{this.memberID}}</td>
            <td>{{this.dateBorrowed}}</td>
            <td>{{this.dateDue}}</td>
            <td><button onclick="deleteBorrowingTransaction({{this.transactionID}})">Delete</button></td>
          
        </tr>
        {{/each}}
        </table>
        <script src="./js/delete_BorrowingTransaction.js"></script>



    <p>&nbsp;</p>
    <div id="insert" style="display: block">
        <form id="addBorrowingTransactionFormAjax">
            <legend><strong>Add BorrowingTransaction</strong></legend>
              <fieldset class="fields">

                <select name="book_input" id="bookID_input">
                    <option value="">Select a Book</option>
                    {{#each books}}
                    <option value={{this.bookID}}>{{this.title}}</option>
                     {{/each}}
                </select>

                <select name="member_input" id="memberID_input">
                    <option value="">Select a member</option>
                    {{#each members}}
                    <option value={{this.memberID}}>{{this.name}}</option>
                     {{/each}}
                </select>


                <label for="dateBorrowed_input"> Date Borrowed</label> <input id="dateBorrowed_input" type="datetime-local" name="dateBorrowed">
                <label for="dateDue_input"> Date Due</label> <input id="dateDue_input" type="datetime-local" name = "dateDue">
              </fieldset>
              <input class="btn" type="submit" id="addBorrowingTransaction" value="Add a Transaction">
              <input class="btn" type="button" value="cancel">
        </form> <!--add new member-->
    </div><!-- insert -->
        <script src="./js/add_BorrowingTransaction.js"></script>