<!--
1 # Citation for the following page:
2 # Date: 3/18/2024
3 # Copied from /OR/ Adapted from /OR/ Based on 
4 # Everything here and through out the other pages are copied from the link below,
5 #   and just updated to work specifically with our own database.  Eventually we were able to 
6 #   to code everything with out help but it still followed the same basic format of the repository
7 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->



    <p>&nbsp;</p>
    <div id="publishers">
        <p><strong>Publishers</strong></p>
        <table id="publishers_table">
            <tr>
                <th>Publisher ID</th>
                <th>Name</th>
                <th>Website</th>
            </tr>
            <th>
                {{@key}}
            </th>
         

             {{#each data}}
        <tr data_value={{this.publisherID}}>
            <td>{{this.publisherID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.website}}</td>
            <td><button onclick="deletePublisher({{this.publisherID}})">Delete</button></td>
          
          
        </tr>
        {{/each}}
        </table>
        <script src="./js/delete_publisher.js"></script>
    </div>
    </div>


    <p>&nbsp;</p>
    <div id="insert" style="display: block">
        <form id="addPublisherFormAjax">
            <legend><strong>Add Publisher</strong></legend>
              <fieldset class="fields">
                <label for="name_input"> Name </label> <input id="name_input" type="text" name="publisherName">
                <label for="website_input"> website </label> <input id="website_input" type="text" name="website">
              </fieldset>
              <input class="btn" type="submit" id="addPublisher" value="Add a Publisher">
              <input class="btn" type="button" value="cancel">
        </form> <!--add new member-->
    </div><!-- insert -->
    <script src="./js/add_publisher.js"></script>


